{% extends 'core/base.html' %}
{% block title %}Listado de páginas{% endblock %}

{% block content %}
<h2>Listado de páginas</h2>

{% if object_list %}
    <div class="row">
        {% for post in object_list %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="{{ post.imagen.url }}" class="card-img-top" alt="imagen del post">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <p class="card-text">{{ post.subtitulo }}</p>
                        <a href="{% url 'page_detail' post.pk %}" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="alert alert-warning">No hay páginas aún.</p>
{% endif %}

{% endblock %}
